{{#section 'head'}}
<meta http-equiv="refresh" content="300" />
{{/section}}

<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--3-col">
		<div class="mdl-card dashbard-card mdl-shadow--2dp">
			<div class="mdl-card__title">
				<h2 class="mdl-card__title-text"><i class="mdi mdi-heart"></i>{{current.category_name}} <small>({{current.time_ago}})</small></h2>
			</div>
			<div class="mdl-card__supporting-text range-{{current.range}} mdl-card__glucose-text">
				<img src="/image/glucose" />
				{{!-- <div class="mdl-card__glucose-text-container">
					{{current.glucose}}
				</div> --}}
			</div>
			{{!-- <div class="mdl-card__actions mdl-card--border">
		    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/notify">
		      Send Notification
		    </a>
		  </div> --}}
		</div>
	</div>
	<div class="mdl-cell mdl-cell--3-col">
		<div class="mdl-card dashbard-card mdl-shadow--2dp">
			<div class="mdl-card__title">
				<h2 class="mdl-card__title-text"><i class="mdi mdi-heart"></i>HbA1c <small>(Estimated)</small></h2>
			</div>
			<div class="mdl-card__supporting-text range-{{a1c.range}} mdl-card__glucose-text">
				<img src="/image/a1c" />
				{{!-- <div class="mdl-card__glucose-text-container">
					{{a1c.percent}}
				</div> --}}
			</div>
			<div class="mdl-card__actions mdl-card--border">
		    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="https://en.wikipedia.org/wiki/Glycated_hemoglobin" target="_blank">
		      Read More
		    </a>
		  </div>
		</div>
	</div>
	<div class="mdl-cell mdl-cell--3-col">
		<div class="mdl-card dashbard-card mdl-shadow--2dp">
			<div class="mdl-card__title">
				<h2 class="mdl-card__title-text"><i class="mdi mdi-heart"></i>Average Blood Glucose <small>(Last {{abg.days}} Days)</small></h2>
			</div>
			<div class="mdl-card__supporting-text range-{{abg.range}} mdl-card__glucose-text">
				<img src="/image/abg" />
				{{!-- <div class="mdl-card__glucose-text-container">
					{{abg.avg}}
				</div> --}}
			</div>
		</div>
	</div>

	<div class="mdl-cell mdl-cell--3-col">
		<div class="mdl-card dashbard-card mdl-shadow--2dp">
			<div class="mdl-card__title">
				<h2 class="mdl-card__title-text"><i class="mdi mdi-test-tube"></i>Range History <small>({{pie.group_title}})</small></h2>
			</div>
			<div class="mdl-card__supporting-text">
				<img src="{{pie.url}}" />
			</div>
		</div>
	</div>
</div>


<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--6-col">
    <div class="mdl-card dashbard-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text"><i class="mdi mdi-test-tube"></i>Glucose Range <small>({{overlay.group_title}})</small></h2>
      </div>
      <div class="mdl-card__supporting-text">
				<div><img src="{{overlay.url}}" /></div>
      </div>
    </div>
  </div>
	<div class="mdl-cell mdl-cell--6-col">
    <div class="mdl-card dashbard-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text"><i class="mdi mdi-test-tube"></i>Glucose Range <small>({{overlay2w.group_title}})</small></h2>
      </div>
      <div class="mdl-card__supporting-text">
				<div><img src="{{overlay2w.url}}" /></div>
      </div>
    </div>
  </div>
</div>

<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--3-col">
    <div class="mdl-card dashbard-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text"><i class="mdi mdi-tag"></i>Readings Per Category <small>({{countpercategory.group_title}})</small></h2>
      </div>
      <div class="mdl-card__supporting-text">
				<div><img src="{{countpercategory.url}}" /></div>
      </div>
    </div>
  </div>
	<div class="mdl-cell mdl-cell--6-col">
    <div class="mdl-card dashbard-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text"><i class="mdi mdi-dna"></i>Glucose Per Category <small>({{percategory.group_title}})</small></h2>
      </div>
      <div class="mdl-card__supporting-text">
				<div><img src="{{percategory.url}}" /></div>
      </div>
    </div>
  </div>
	<div class="mdl-cell mdl-cell--3-col">
    <div class="mdl-card dashbard-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text"><i class="mdi mdi-food-off"></i>Insulin vs. Carbs <small>({{carb.group_title}})</small></h2>
      </div>
      <div class="mdl-card__supporting-text">
        <img src="{{carb.url}}" />
      </div>
    </div>
  </div>
</div>


<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--6-col">
    <div class="mdl-card dashbard-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text"><i class="mdi mdi-food"></i>Carbs Per Day <small>({{carbs.group_title}})</small></h2>
      </div>
      <div class="mdl-card__supporting-text">
				<div><img src="{{carbs.url}}" /></div>
      </div>
    </div>
  </div>
	<div class="mdl-cell mdl-cell--6-col">
		<div class="mdl-card dashbard-card mdl-shadow--2dp">
			<div class="mdl-card__title">
				<h2 class="mdl-card__title-text"><i class="mdi mdi-food"></i>Calories Per Day <small>({{calories.group_title}})</small></h2>
			</div>
			<div class="mdl-card__supporting-text">
				<div><img src="{{calories.url}}" /></div>
			</div>
		</div>
	</div></div>
<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--6-col">
    <div class="mdl-card dashbard-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text"><i class="mdi mdi-scale-bathroom"></i>Weight History <small>({{weight.group_title}})</small></h2>
      </div>
      <div class="mdl-card__supporting-text">
				<div><img src="{{weight.url}}" /></div>
      </div>
    </div>
  </div>
</div>
