<div class="mdl-grid">

	{{#with items}}
		<section class="mdl-layout__tab-panel is-active mdl-cell--12-col">
			{{#each this}}
				{{#if friendly_datetime}}
					<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
						<div class="mdl-card mdl-cell mdl-cell--12-col">
							<div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
								<h4 class="mdl-cell mdl-cell--12-col">{{text_datetime}} ({{datetime_fromnow}}) <span style="float:right">{{category_name}}</span></h4>
								{{#if glucose}}
									<div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
										<div class="section__circle-container__circle range-{{range}}">
											<div class="text">{{glucose_mdgl}}</div>
										</div>
									</div>
								{{else}}
									<div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
										<div class="section__circle-container__circle range-none">
											<div class="text-icon"><i class="mdi mdi-information"></i></div>
										</div>
									</div>
								{{/if}}
								<div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
									{{#if glucose}}
										<h5 class="text-{{range}}"><i class="mdi mdi-heart"></i>Glucose: {{glucose_mdgl}}</h5>{{/if}}
									{{#xif basal '||' bolus}}
										<ul class="mdl-list">
											{{#if basal}}
												<li class="mdl-list__item"><i class="mdi mdi-alarm mdi-small-overlay"></i><i class="mdi mdi-needle"></i>{{basal_name}}: {{basal}}U</li>
											{{/if}}
											{{#if bolus}}
												<li class="mdl-list__item"><i class="mdi mdi-needle"></i>{{bolus_name}}: {{bolus}}U</li>
											{{/if}}
										</ul>
									{{/xif}}
									{{#if carbs}}
										<ul class="mdl-list">
											<li class="mdl-list__item"><i class="mdi mdi-food-fork-drink"></i>Carbs: {{carbs}}g</li>
											{{#if calories}}
												<li class="mdl-list__item"><i class="mdi mdi-food-fork-drink"></i>Calories: {{calories}}</li>
											{{/if}}
											{{#if proteins}}
												<li class="mdl-list__item"><i class="mdi mdi-food-fork-drink"></i>Proteins: {{proteins}}g</li>
											{{/if}}
											{{#if fats}}
												<li class="mdl-list__item"><i class="mdi mdi-food-fork-drink"></i>Fat: {{fats}}g</li>
											{{/if}}
											{{#if cholesterol}}
												<li class="mdl-list__item"><i class="mdi mdi-food-fork-drink"></i>Cholesterol: {{cholesterol}}</li>
											{{/if}}
										</ul>
									{{/if}}

									{{#if weight_entry}}
									<h5><i class="mdi mdi-scale-bathroom"></i>Weight</h5>
									<ul class="mdl-list">
										<li class="mdl-list__item">{{weight_entry_lbs}} lbs</li>
									</ul>
									{{/if}}

									{{#if notes}}
										<h5><i class="mdi mdi-note-multiple-outline"></i>Notes</h5>
										<ul class="mdl-list">
											{{#each notes_formatted}}
												{{#if this}}
													<li class="mdl-list__item">{{this}}</li>
												{{/if}}
											{{/each}}
										</ul>
									{{/if}}
									{{#xif pressure_sys '&&' pressure_dia}}
										<h5><i class="mdi mdi-heart"></i>Blood Presure</h5>
										<ul class="mdl-list">
											<li class="mdl-list__item">
												<span>Systolic:</span>
												<span>{{pressure_sys}}</span>
											</li>
											<li class="mdl-list__item">
												<span>Diastolic:</span>
												<span>{{pressure_dia}}</span>
											</li>
											{{#if pulse}}
												<li class="mdl-list__item">
													<i class="mdi mdi-heart-pulse"></i>
													<span>Pulse</span>
													<span>{{pulse}}</span>
												</li>
											{{/if}}
										</ul>
									{{/xif}}
								</div>
								{{#if medications_list}}
									<div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
										<div class="section__circle-container__circle">
											<div class="text"></div>
										</div>
									</div>
									<div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
										<h5>Medications</h5>
										<ul class="mdl-list">
											{{#each medications_list}}
												<li class="mdl-list__item"><i class="mdi mdi-pill"></i>{{this}}</li>
											{{/each}}
										</ul>
									</div>
								{{/if}}
							</div>
							{{!-- <div class="mdl-card__actions">
	        <a href="#" class="mdl-button">Read our features</a>
	      </div> --}}
						</div>
						{{!-- <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn2">
	      <i class="material-icons">more_vert</i>
	    </button> --}}
						{{!-- <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn2">
	      <li class="mdl-menu__item">Lorem</li>
	      <li class="mdl-menu__item" disabled>Ipsum</li>
	      <li class="mdl-menu__item">Dolor</li>
	    </ul> --}}
					</section>
				{{/if}}
			{{/each}}
</div>
{{/with}}
</div>
